

@charset "UTF-8";

   *{
        font-family: 'TmoneyRoundWindRegular';
    }

   .wrap {
   width: 490px;
   height: 620px;
   padding: 40px 20px 20px 20px;
   background-color: #f5f6f7;
   position: absolute;
   top: 62%;
   left: 50%;
   transform: translate(-50%,-60%);
    border-radius: 30px;
   box-sizing: border-box;
}
.logo {
    width: 280px;
    height: 110px;
    background: url(./icons/logo8.png) no-repeat;
    background-size: 100%;
    background-position: 50%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a{
    width: 280px;
    height: 110px;
    display: block;
}

.title {
   margin: 0 auto;
    width: 240px;
    height: 44px;
    text-align: center;
    font-size: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    margin-bottom: 20px;
}


.input_box{
    height: 60px;
    border: solid 1px #dadada;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
.input_box2{
    height: 60px;
    width: 36%;
    border: solid 1px #dadada;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
.a{
    width: 7%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.input_box3{
    height: 60px;
    border: solid 1px #dadada;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 350px;
}

input, select{
   height: 100%;
   width: 100%;
    border: 0;
    background: #fff;
   font-size: 15px;
   outline: 0;

}
input::placeholder {
  font-size: 14px;
}

.df{
    display: flex;
}
.join_btn{
    width: 100px;
    height: 60px;
    background: #FD9A29;
    border: solid 1px #dadada;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}

#joinBtn{
    margin-top: 15px;
   height: 60px;
    border: solid 1px #00af80;
    text-align: center;
    background: #00af80;
    color:white;
    font-size: 18px; 
   box-sizing: border-box;
   border-radius: 5px;
   cursor: pointer;
    width: 450px;
}

/* 중복아이디 존재하지 않는경우 */
.id_input_re_1{
	height: 20px;
	color : green;
	display : none;
}

/* 중복아이디 존재하는 경우 */
.id_input_re_2{
	height: 20px;
	color : red;
	display : none;
}
