@charset "UTF-8";

.popup_left table {
	border-collapse: collapse;
	width: 300px;
	border-radius: 5px;
}

.popup_left table thead {
	border: 1px solid black;
}

.popup_left table thead tr{
	border: 1px solid black;
	background-color: #fff;
}

.popup_left table thead th{
	height:30px;
	text-align: center;
	border: 1px solid black;
}

.popup_left table thead td{
	height:30px;
	text-align: center;
	border: 1px solid black;
}

#res{
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 100%;
    margin-bottom: 20px;
}

.table_wrap .search_box1 .autority_btn{
  width: 70px;
  height: 35px;
  border: 1px solid #FD9A29;
  background: #FD9A29;
  color :#fff;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  cursor: pointer;
    margin-bottom: 20px;
}

.table_wrap .search_box1{
	margin-bottom: 0px;
}

.autority_popup {
  width: 500px;
  height: 330px;
  position: absolute;
  background-color: #C4E2F2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 40px 20px 0 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "TmoneyRoundWindRegular";  
}
.popup{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin: 10px auto;
}

.autority_popup .txt_title{
	font-size: 18px;
	padding: 7px;
}


.autority_popup .close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}

.autority_popup .close_i img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.autority_popup .popup_right{
    margin-right: 0px;
    width: 150px;
}

.autority_popup .popup_left .memberSelectBox{
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #000000;
}

.autority_popup .popup_right .autoritySelectBox {
	margin-left:10px;
  position: relative;
  width: 130px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #000000;
}


.autority_popup .popup_right .autoritySelectBox option {
  padding: 3px 0;
  font-size: 16px;
}

.autority_popup .empower_btn{
    width: 70px;
    height: 35px;
    border: 1px solid #FD9A29;
    background: #FD9A29;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    cursor: pointer;
}

.autority_popup .btn_wrap{
	text-align: center;
}