    body,
      html {
          margin: 0;
          padding: 0;
      }

      table {
          border-collapse: collapse;
          text-align: center;
          margin: 0 auto;
          width: 100%;
      }

      td,
      th {
          border: 1px solid #000;
          height: 30px;
          text-align: center;
      }
      .bg {
          width: 650px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          padding: 0 20px;
      }

      .top{
          /*pic_top 박스와 mypage_top을 감싼 큰 박스 */
          display: flex;
      }
      img {
          /*이미지 크기와 margin*/
          margin-top: 15px;
          width: 80px;
          height: 80px;
          margin-bottom: 20px;
      }
      .pic_top {
          /*사진박스*/
          border: 1px solid #969595;
          margin: 10px 10px 10px 0;
          width: 180px;
          height: 150px;
          text-align: center;
      }
      .mypage_top{
          /*경고수,이메일,아이디,닉네임 박스*/
          margin: 10px 0 10px 0;
          padding-top: 25px;
      }
      .line {
          width: 650px;
          border: solid 2px #9e9e9e;
          box-sizing: border-box;
          margin: 8px 0 3px 0;
      }

      .mypage_bottom{
          display: flex;
          /* justify-content: center;
          align-items: center; */
          font-size: 0;
          margin-top: 5px;;
      }
      .my_info input{
          width: 100%;
          height: 100%;
          padding: 5px;
          box-sizing: border-box;
      }


      .my_btn{
          margin-top: 5px;
          height: 100px;
          background-color: #f5f6f7;
          font-weight: 700;
          border: 1px solid #969595;
          border-radius: 5px;
          width: 100%;
          font-size: 14px;
          box-sizing: border-box;
          line-height: 100px;
      }

      .bottom2{
          display: flex;
      }

      .my_btn1{
          margin-left: 5px;
          margin-top: 5px;
          padding: 20px 10px 10px;
          background-color: #f5f6f7;
          font-weight: 700;
          border: 1px solid #969595;
          border-radius: 5px;
          height: 205px;
          width: 150px;
          box-sizing: border-box;
          text-align: center;
      }
      .txt{
          font-size: 14px;
          margin-top: 10px;

      }
      .my_info{
          box-sizing: border-box;
      }
      .my_info > div{
          height: 50px;            
      }
      .filebox{
          padding: 0 10px;
      }
      
      .filebox label {
        display: inline-block;
	    padding: 6px 9px;
	    color: #fff;
	    vertical-align: middle;
	    background-color: #999999;
	    cursor: pointer;
	    height: 14px;
	    font-size: 14px;
        border: 0;
	}
	
	.filebox .savefile{
        display: inline-block;
	    padding: 9px 7px;
	    color: #fff;
	    vertical-align: middle;
	    background-color: #ee8003;
	    cursor: pointer;
	    height: 24px;
	    line-height: 9px;
	    border: 0;
	    box-sizing: border-box;
	    font-size: 14px;
	}

     .filebox input[type="file"] {
	    position: absolute;
	    width: 0;
	    height: 0;
	    padding: 0;
	    overflow: hidden;
	    border: 0;
	}
      .info_first,.info_second{
          display: flex;
      }
      .info_first >div{
          border: 1px solid #969595;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
      }
      .info_first > div:nth-child(odd){
          border-right: 0;
          width: 60px;
          font-weight: bold;
      }
      .info_first > div:nth-child(even), .info_second > div:nth-child(even){
          width: 170px;
      }
      .info_first > div:nth-child(2){
          border-right: 0px;
      }
      .info_second > div:nth-child(2){
          border-right: 0px;/*겹치는 선을 없애기 위해서*/
      }

      .info_second >div{
          border: 1px solid #969595;
          border-top: 0;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
      }
      .info_second > div:nth-child(odd){
          border-right: 0;
          width: 60px;
      }
      .mypage_bottom  div, input {
          cursor: pointer;
      }
      
      .my_btn:hover, .my_btn1:hover {
			background-color: #ee800366;		
		}	
