@charset "UTF-8";

/*금액표 팝업*/
.feeTablePopup{
  width: 400px;
  height: 366px;
  position: absolute;
  background-color: #efe7cb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 36px 25px;
  border: 1px solid gray;
  box-sizing: border-box;
  display: none;
  border-radius: 5px;
  font-family: "TmoneyRoundWindRegular";
  font-size: 14px;
}
.feeTablePopup .close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.feeTablePopup .close_i img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.feeTablePopup table caption{
	font-size: 16px;
	text-align: center;
    padding: 12px;
    font-weight: 700;
}

.feeTablePopup table {
	border: 1px solid black;
	border-collapse: collapse;
	height: 250px;
}

.feeTablePopup table tr{
	border: 1px solid black;
	background-color: #fff;
}

.feeTablePopup table th, td{
	border: 1px solid black;
	background-color: #fff;
	text-align: center;
}

/*리뷰 팝업*/
#review_popup {
    width: 379px;
    height: 486px;
    position: absolute;
    background-color: #d9d2e9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
    display: none;
    z-index: 100;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "TmoneyRoundWindRegular";
}

#review_popup  .star1{
  /*시스템 별점*/
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

#review_popup .star2{
  /*요금 별점*/
  display: flex;
  margin-top: 5px;
}

#review_popup .close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}
#review_popup .close_i img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#review_popup .txt_title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
#review_popup .title {
  width: 100%;
  height: 40px;
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 5px 110px 5px 10px;
  box-sizing: border-box; /*padding과 border를 합친 크기를 width를 두겠다.*/
  font-size: 16px;
}

#review_popup .popup_middle{
  height: 190px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#review_popup .star_wrap {
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#review_popup .group1,#review_popup .group2{
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding: 5px;
}

#review_popup .group2{
  margin-top: 10px;
}

#review_popup .starstar{
  margin-right: 15px;
}

#review_popup .wrap_title{
  padding: 5px;
}
#review_popup textarea {
  width: 100%;
  height: 80px;
  resize: none; /* textarea 크기 늘리는거 막음*/
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#review_popup .sendBtn_wrap {
  margin-top: 8px;;
  text-align: center;
}
#review_popup #sendBtn {
  width: 70px;
  height: 35px;
  font-size: 14px;
  cursor: pointer;
}

/*신고*/
#warning_popup {
  width: 400px;
  height: 380px;
  position: absolute;
  background-color: #d9d2e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 40px 20px 0 20px;
  border: 1px solid gray;
  box-sizing: border-box;
  display: none;
  border-radius: 5px;
  font-family: "TmoneyRoundWindRegular";
}
#warning_popup .close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}
#warning_popup .close_i img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#warning_popup .popup_top {
  display: flex;
}
#warning_popup .popup_middle {
  padding: 10px 0 15px 0;
  display: flex;
}
#warning_popup .popup_content {
  padding: 10px 0;
}
#warning_popup .popup_content > div {
  padding: 7px;
}
#warning_popup .title, #warning_popup .writer {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
}
#warning_popup .input {
  width: 370px;
}
#warning_popup .title, #warning_popup .writer, #warning_popup .choice_label {
  font-weight: 700;
}

#warning_popup .note{
  font-size: 13px;
}
#warning_popup .txt_title {
  width: 280px;
  box-sizing: border-box;
  height: 40px;
  font-size: 16px;
}
#warning_popup .txt_writer {
  width: 280px;
  box-sizing: border-box;/*padding과 border를 합친 크기를 width를 두겠다.*/
  height: 40px;
}
#warning_popup #warningBtn {
  width: 70px;
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}



/*반려사유*/
#refuse_popup {
  width: 650px;
  height: 180px;
  position: absolute;
  background-color: #e6e6e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 50px 20px 20px 20px;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
  display: none;
}
#refuse_popup .close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}
#refuse_popup .close_i img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#refuse_popup .popup_top {
  display: flex;
}
#refuse_popup .title {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: bold;
}
#refuse_popup .input {
  width: 500px;
}
#refuse_popup .txt_title {
  width: 500px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 110px 5px 5px;
  box-sizing: border-box; /*padding과 border를 합친 크기를 width를 두겠다.*/
  height: 40px;
}
#refuse_popup #warningBtn {
  width: 70px;
  height: 40px;
  margin-top: 15px;
  font-weight: 700;
  color: white;
  border: 1px solid #00af80;
  background: #00af80;
  box-sizing: border-box;
  cursor: pointer;
}