@CHARSET "UTF-8";
html, body {
	margin: 0;
	font-size: 0pt;
	height: 100%;
	font-family: 고딕;
}

/* Main Color */
.cmn_popup_btn, .cmn_popup_btn_ml, .cmn_popup_btn_mr, .cmn_popup_btn_mb, .popup_title {
	background-color: #70adf9;
	color: #FFFFFF;
}
/* Main Color on active */
.cmn_popup_btn:active, .cmn_popup_btn_ml:active, .cmn_popup_btn_mr:active, .cmn_popup_btn_mb:active {
	background-color: #8fbef9;
}

.cmn_popup_btn, .cmn_popup_btn_ml, .cmn_popup_btn_mr, .cmn_popup_btn_mb {
	/* 마우스 드래그 금지 */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}

.cmn_popup_btn, .cmn_popup_btn_ml, .cmn_popup_btn_mr, .cmn_popup_btn_mb {
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	text-indent: 0px;
}

.cmn_popup_btn_ml {
	margin-left: 10px;
}

.cmn_popup_btn_mr {
	margin-right: 10px;
}

.cmn_popup_btn_mb {
	margin-left: 10px;
	margin-right: 10px;
}

.popup_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #444444;
	opacity: 0.7;
	z-index: 50;
}

.popup_bg_clear {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #444444;
	opacity: 0.0;
	z-index: 50;
}

.popup {
	display: inline-block;
	width: 400px;
	height: 200px;
	box-shadow: 0px 0px 4px 0px #4f4f4f;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	z-index: 100;
	background-color: #f4f4f4;
	border-radius: 2px;
}

.popup_title {
	height: 40px;
	line-height: 40px;
	font-size: 11pt;
	font-weight: bold;
	text-indent: 10px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: inset 0px 0px 2px 0px #b7b7b7;
}

.popup_cont {
	width: calc(100% - 20px);
	height: calc(100% - 100px);
	padding: 10px;
	background-color: #ffffff;
	/* 표준 폰트 크기 */
	font-size: 10.5pt;
}

.popup_btn_area {
	width: 100%;
	height: 35px;
	text-align: right;
	padding-top: 5px;
	box-shadow: inset 0px 0px 2px 0px #b7b7b7;
}